:root {
  --max-width: 800px;
  --nav-height: 60px;
}

body {
  margin: 0;
  background-image: radial-gradient(circle farthest-corner at -27% -27%, #171717, #BABABA);
  background-size: 100% 2000px;
}

nav ul {
  width: var(--max-width);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  padding: 0 15px;
  line-height: var(--nav-height);
  color: white;
  text-decoration: none;
}

header {
  width: var(--max-width);
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  color: white;
}

section#content {
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
  background-color: white;
  padding: 0 20px;
  border-radius: 5px;
}

section#content ul {
  list-style-type: none;
  padding-left: 0;
}